{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}


{% block content %}
    <div class="row vh-90 bg-secondary rounded align-items-center justify-content-center mx-0"></div>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
              <div class="" style="margin: -15px 0px; ">
                <span style="margin-left:85%;"><a class="btn btn-outline-info m-2 " href="{{path('app_classe_save')}}"> Nouveau </a></span>
               </span>
               <div class="card-body">
                   <form class="d-flex mb-1" method="Post" action="{{path('app_classe')}}">
                       <div class="form-control rounded bg-light text-white" style="max-width: 30%; margin-right:20px">
                         <label for="">Filiere</label>
                         <select class="form-select rounded mb-1" aria-label="Default select example" name="filiere">
                           <option value="">All</option>
                           {% for item in filieres %}
                               <option 
                               {% if selectedValue['filiere'] is defined and selectedValue['filiere']== item.id %}selected{% endif %}
                               value="{{item.id}}">{{item.libelle}}</option>  
                           {% endfor %}
                         </select>
                       </div>
                       <div class="form-control rounded bg-light text-white" style="max-width: 30%; margin-right:20px">
                         <label for="">Niveau</label>
                         <select class="form-select mb-1" aria-label="Default select example" name="niveau" id="">
                           <option value="">All</option> 
                           {% for item in niveaux %}
                               <option {% if selectedValue['niveau'] is defined and selectedValue['niveau']== item.id %}selected{% endif %} 
                               value="{{item.id}}">{{item.libelle}}</option>  
                           {% endfor %}
                         </select>
                       </div>
                       <div class="input-group-append">
                           <button class="btn btn-light m-1" id="" name="btn_save" type="submit">Rechercher</button>
                       </div>
                   </form>
                </div>
                <h6 class="mb-1">Liste des Classes</h6>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Libellé</th>
                                <th scope="col">Filière</th>
                                <th scope="col">Niveau</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cl in classesNotArchived %}
                                <tr>
                                    <th scope="row">{{cl.id}}</th>
                                    <td>{{cl.libelle}}</td>
                                    <td>{{cl.filiere.libelle}}</td>
                                    <td>{{cl.niveau.libelle}}</td>
                                    <td><a class="btn btn-outline-warning" style="padding: 2px 12px;" href="{{path('app_classe_save',{id:cl.id})}}">Edit</a></td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if nbrePage >0 %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm">
                    <li class="page-item {{ page==1 ? 'disabled':''}}">
                      <a class="page-link" href="?page={{page-1}}" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                      </a>
                    </li>
                    {% for item in 1..(nbrePage) %}
                    <li class="page-item {{ page==item ? 'active':''}}" aria-current="page"><a class="page-link" href="?page={{item}}">{{item}}</a></li>
                    {% endfor %}
                    <li class="page-item {{ page==nbrePage ? 'disabled':''}}">
                      <a class="page-link" href="?page={{page+1}}" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


